// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
article {
  background-color: rgb(114, 196, 199);
  width: 20rem;
  border-radius: 20px;
  p {
    padding: 2rem;
  }
}

.check {
  padding: 2rem 0 0 2rem;
  margin-bottom: 2rem;
}

a {
  padding: 0.7rem;
  text-decoration: none;
  background-color: blueviolet;
  color: antiquewhite;
}

ul {
  list-style: none;
}

ul a{
  padding: 0;
  text-decoration: underline;
  background-color: inherit;
  color: inherit;
  font-size: 1.2rem;
}

form{
  padding: 2rem;
}
